<h1><%= @movie.title %></h1>
<h5><%= @movie.rating %></h5>
<h5><%= @movie.release_date %></h5>
<h5><%= @movie.genre %></h5>
<h5><%= @movie.description %></h5>

<p><%= link_to "Edit movie", edit_movie_path(@movie)%>|<%= link_to "Delete", @movie, :method => :delete %></p>